.content {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 25%);
  background-color: #dddddd;
  color: black;
  padding: 1px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
    height: 495px;
  }
}
.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.content {
  background-color: #fff;
  padding: 25px;
}

.price {
  font-weight: bold;
}

/*# sourceMappingURL=index.module.css.map */
